.infoPantalla {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: black;
  opacity: 0.7;
  color: white;
  padding: 10px;
  margin: 10px auto;
  max-width: 300px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2em;
}

.noVisible {
  display: none;
}

button,
select {
  color: #111;
  background-color: #eee;
  border: 4px solid #111;
  height: 40px;
  padding: 0 10px;
  margin: 10px 0px;
  border-radius: 20px;
  font-weight: 800;
}
